* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.contact-main-container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(180, 176, 176, 0.845);
  margin-top: 10%;
  
}

.contact-header {
  height: 12vh;
  width: 100vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: ;
  
}

.heading {
  font-size: 2rem;
  /* margin-top: 1rem; */
  color: #195e8c;
}

.contact-content {
  height: 85vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 20px 0;
}

.enquiry-form {
  height: 80vh;
  width: 35vw;
  background-color: #195e8c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 4px 4px 4px gray;
  text-align: center;
}

.contact-info {
  height: 80vh;
  width: 35vw;
}

.contact-information {
  height: 80vh;
  width: 35vw;
  background-color: #195e8c;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px gray;
  font-size: 18px;
  gap: 12px;
  color: white;
}

.contact-information h2 {
  font-size: 1.5rem;
  margin-top: 70px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

form .user-input {
  margin: 15px;
  font-size: 15px;
  height: 50px;
  width: 250px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: black;
}

form button {
  margin: 15px;
  font-size: 15px;
  height: 40px;
  width: 300px;
  background-color: white;
  color: #11325c;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

form #message {
  height: 100px;

}

form button:hover {
  background-color: lightgray;
}

 

@media screen and (max-width: 768px) {
  .contact-main-container {
    
    margin-top: 100px;
  }

  .contact-header{
    margin-top: 500PX;
  }
   .contact-content{
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
   }

   .contact-info{
    width: 90vw;
    height: 50vh;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
   }
   .contact-information{
    height: 450px;
    width: 400px;
   }

   .enquiry-form{
    height: 500px;
    width: 400px;
   }
}