.home-container{
    height:100vh;
    width:100vw;
}


.top-section{
    height:30%;
    width:100vw;
    background-color:#195e8c;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:space-evenly;
}

.top-section h2{
    color:aliceblue;
    font-size:2.8em;
    text-transform:uppercase;
    text-decoration-line:underline;
    letter-spacing:3.2px;
}

.top-section p{
    color:aliceblue;
    font-size:1.2em;
}

.top-section button{
    height:40px;
    width:180px;
    color:aliceblue;
    background-color:#0c2d41;
    cursor:pointer;
}

.top-section button:hover{
    background-color:#195e8c;
}

.mid-section{
    height:70%;
    width:100vw;
    background-color:rgba(180, 176, 176, 0.845);

}

.tagline{
    height:75px;
    width:100vw;
    color:rgb(21, 21, 21);
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:800;
    
}

.mid-container{
    height:250px;
    width:100vw;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    gap:9px;
}

.mid-container div{
    height:220px;
    width:320px;
    margin:20px 0;
    border-radius:14px;
    overflow:hidden;
    border:2px solid gray;
      
}

.mid-container img{
    height:100%;
    width:100%;
    object-fit:fill;
}

.bottom-section{
    height:100%;
    width:100vw;
}

.bottom-section h2{
    font-size:2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    font-weight:800;
}



.setting-pannel{
    height:250px;
    width:100vw;
    display:flex;
    justify-content:center;
    gap:60px;
    flex-wrap:wrap;
}
.feature{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    gap:14px;
}

.icon-style{
    height:90px;
    width:90px;
    background-color:#195e8c;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    color:black;
    font-size:3em;

}

.end-container{
    height:100vh;
    width:100vw;            
    background-color:rgba(180, 176, 176, 0.845);
    
}

.description{
    height:45%;
    width:100vw;
}


.description h2{
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    font-size:2.3em;
    font-weight:800;
    padding:6px;
}

#about-section{
    height:70%;
    width:100vw;
    margin-top:10px;
    

}

#about-section p{
    text-align:center;
    font-size:1.5em;
    color:rgb(28, 27, 27);
    padding:6px;

}

.middle-part{
    height:50vh;
    width:100vw;
    display:flex;

}

.map-container{
    width:30vw;
    height:100%;
    overflow:hidden;
    margin-left:15px;
    border-radius:14px;
    object-fit:cover;
    border:2px solid gray;
}

#footer-pannel{
    height:80px;
    width:100vw;
    background-color:#21618ceb;
    margin-top:8px;
    display:flex;
    align-items:center;
    justify-content:space-around;
    
}

.location-pannel{
    height:100%;
    width:30vw;
}

.icons{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    gap:24px;
}

#footer-pannel div{
    color:black;
    font-size:1.4em;
}


.additional-data{
    height:100%;
    width:40vw;
}

#feature-data{
    height:280px;
    width:800px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-evenly;
    font-size:1.8em;
    padding:35px;
}

.title{
    color:black;
    font-size:2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:800;
    padding:22px;
    text-align:center;
}

#loc-title{
    height:180px;
    width:450px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    font-size:1.6em;

}

.contact-section{
    height:150px;
    width:450px;
    /* background-color:aquamarine; */
}

.contact-section h4{
    font-size:1.8em;
    color:black;
    text-align:center;
}

#num-sec{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    gap:14px;
    margin-top:20px;
    font-size:1.2em;
    color:black;
}