*{
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    width: 100%;
    height: 100vh;
    display: flex;
    margin: auto;
    
}

.main-container img{
    width: 100%;
    height: 100%;
    display: flex;
}

.sub-container{
    display: flex;
    height: 70vh;
    width: 100%;
    background-color: rgb(197, 211, 255);
}